/dist

*.min.css
*.min.css.map
*.csv
*.iml
*.box
*.log

*.mtl
*.swatches
*.iff

.DS_Store
.idea
.sass-cache
.tm_properties
.vagrant
.node-version
.sbt
.sbt.*

log
logs
tmp
old
target
typings
.target
/*/bin/
built-assets
renderData

RUNNING_PID

*.sublime-*
local.sbt
node_modules
bower_components
.nvmrc
